# python
__pycache__/
*.py[cod]
*$py.class

 

 
 
*.log
 

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
 

#pydev
.pydevproject
.project
.settings
 

#VS Code
*.code-workspace
.devcontainer/

#gdal 
*.gpkg-wal
*.gpkg-shm
*.aux.xml

# docs
docs/user/_build

#windows shortcuts
*.lnk
 

_inputs/
_scratch/
_cache/


# pip
build/
dist/
*.egg-info

# docker buildx local cache
.buildx-cache/

#dont want to share this
tests/data/fathom_n51w115/n51w115_preprocessed.tif
tests/data/fathom_clip/lores.tif
tests/data/fathom_1024/lores.tif

#profiling
misc/profiling/output
.DS_Store
